@page "/"
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:7071/api")
            .WithAutomaticReconnect()
            .Build();
        _hubConnection.On<string>("newMessage", message =>
        {
            Console.WriteLine(message);
        });
        await _hubConnection.StartAsync();
    }

}